html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: #EEE url(../images/background-dotted.png) repeat;
    font-size: 16px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

body > #page {
    flex: 1;
}

a {
    text-decoration: none;
}

.icon {
    color: #fff;
    font-size: 1.875em;
    width: 50px;
    height: 45px;
    text-align:center;
    padding-top: 8px;
}

#page {
    position: relative;
    min-height: 100%;
}

/*-------------------Header-------------- */

#header-style {
    background: #A91D3A;
}

#header-style .icon {
    font-size: 30px;
    padding-left: 5px;
}

#header-style button{
    background: #fff;
    color: #000;
    margin: 0 5px;
}

#main-nav a{
    color: #fff;
    padding: 0 15px;
}

#main-nav a:hover {
    color: #ddd;
}

#accessibility-menu {
    height: 38px;
}

#accessibility-menu button {
    width: 50px;
    height: 38px;
    padding: 0;
}

#accessibility-menu .first-icon {
    font-size: 1.0em
}
#accessibility-menu .second-icon {
    font-size: 0.6em
}

/*------------------Content-------------------*/
.box-middle {
    margin-top: 40%;
    background: #fff;
    border-radius: 10px;
}

.box-middle button {
    background: #b81838;
    display: block;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 0.9em;
    margin: 0 auto;
}

.box-middle button:hover {
    background: #A91D3A;
    color: #fff;
}

#login-box {
    text-align: center;
    padding: 30px 80px;
}

#signup-box {
    padding: 30px 30px;
    text-align: center;
}

#signup-fields div{
    margin: 15px 0;
}

#signup-box > span, #login-box span{
    display: block;
    font-size: 0.8em;
}

/*---------------Footer---------------*/

#footer-style{
    margin-top: 20%;
    background: #bbb;
}

#links {
    margin-top: 10px;
    margin-left: 20px;
}

#links ul{
    list-style: none;
    padding-left: 0;
}

#links a {
    color: #000;
}

#help {
    text-align: center;
}

#help-text {
    display: block;
    color: #fff;
    font-size: 1.1em;
}

/* Typography */

h1 {
    font-size: 2.25em;
    color: #000;
}


/* Media queries */

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #help {
        margin-left: 20px;
    }
    #main-nav {
        margin: 10px 0px;

    }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}





/*----------------Contrast----------------- */

body.contrast, body.contrast #header-style, body.contrast .box-middle, body.contrast .box-middle button, body.contrast #footer-style, body.contrast h1, body.contrast a, body.contrast #links a {
    color: #fff;
    background-color: #000;
}

body.contrast .box-middle button {
    border: 1px solid white;
}

body.contrast .box-middle button:hover, body.contrast a:hover, body.contrast #links a:hover, body.contrast #help-text:hover {
    color: #bbb;
}